# Data Science Tools and Ecosystem

## Author
Teimuraz

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Python
* Java
* C++

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. nltk
4. dask

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335